{% extends "base.html" %}

{% block content %}

<div class="text-4xl bg-gradient-to-r from-indigo-500 via-gray-900 to-indigo-500 text-white p-24 flex justify-center">
    | Who We Are |
</div>

<div class="flex justify-center items-center gap-5 mt-8 p-5">
    <div class="text-5xl text-indigo-600 font-bold w-1/3">Welcome to EventHub, a premier cater-ing and event planning company in Dhaka, Bangladesh</div>
    <img class="h-96 w-auto rounded-lg" src="/static/images/event.jpg" alt="">
</div>

{% comment %} Our mission section {% endcomment %}
<div class="p-5 mt-24 flex flex-col justify-center items-center gap-2">
    <div class="text-4xl text-indigo-600 font-bold w-1/2  flex justify-center">Our Mission</div>
    <div class="text-gray-500 w-1/2 border-b border-gray-200 p-2">
        <p>
            At EventHub, we believe that meaningful connections happen when people come together around shared interests and experiences. Our mission is to make it easy for anyone to discover, create, and participate in events that matter to them.
        </p>
        <p>
            Whether you're looking to attend a professional conference, a local workshop, or a community gathering, EventHub provides the tools and platform to connect event organizers with attendees, fostering communities and creating memorable experiences.
        </p>
    </div>
</div>

{% comment %} What sets us apart section {% endcomment %}
<div class="mt-24 flex flex-col justify-center items-center p-5">
    <div class="text-4xl font-bold p-5">
        What Sets Us Apart
    </div>
    {% comment %} cards {% endcomment %}
    <div class="grid grid-cols-2 w-1/2 gap-5">
        <div class="max-w-lg p-8 border border-gray-500 flex flex-col justify-center items-center rounded-xl">
            <div class="text-indigo-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-20">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                </svg>
            </div>
            <div class="text-2xl font-semibold">
                Global Reach
            </div>
            <div>
                Connect with events and communities arount the world, expanding your horizons beyond local boundaries.
            </div>
        </div>

        <div class="max-w-lg p-8 border border-gray-500 flex flex-col justify-center items-center rounded-xl">
            <div class="text-indigo-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-20">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                </svg>
            </div>
            <div class="text-2xl font-semibold">
                Trusted Platform
            </div>
            <div>
                Our verification process ensures that events on our platform are legitimate and safe for all attendees.
            </div>
        </div>

        <div class="max-w-lg p-8 border border-gray-500 flex flex-col justify-center items-center rounded-xl">
            <div class="text-indigo-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-20">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>
            </div>
            <div class="text-2xl font-semibold">
                Personalized Experience
            </div>
            <div>
                Our recommendation engine helps you discover events that align with your interests and preferences.
            </div>
        </div>
        <div class="max-w-lg p-8 border border-gray-500 flex flex-col justify-center items-center rounded-xl">
            <div class="text-indigo-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-20">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                </svg>
            </div>
            <div class="text-2xl font-semibold">
                Community Focus
            </div>
            <div>
                We prioritize building and nurturing communities around shared interests and passions
            </div>
        </div>
    </div>

</div>

{% comment %} join the community section {% endcomment %}

<div class="bg-gray-100 p-2 flex justify-center items-center mt-24">
    <div class="flex flex-col justify-center items-center gap-1 p-16">
        <div class="text-black font-bold text-4xl">Join the EventHub Community</div>
        <div class="flex flex-col justify-center items-center p-6">
            <div class="text-gray-500">Whether you're looking to attend events or organize them, EventHub has the tools and community to </div>
            <div class="text-gray-500 ">help you succeed.</div>
        </div>
        

        <div class="flex gap-5">
            <button class="bg-indigo-600 text-white px-6 py-2 rounded-lg hover:bg-indigo-700 transition">
                <a href="{% url "contact_us" %}">Contact Us</a>
            </button>
            <button class="bg-white text-black border-2  px-6 py-2 rounded-lg hover:bg-gray-300 transition">
                <a href="{% url "events_list" %}">Explore Events</a>
            </button>
        </div>
    </div>
</div>


{% endblock  %}