{% extends "base.html" %}

{% block content %}
<div class="flex justify-center gap-24 mt-12 mb-64">
    <div class="max-w-lg">
        <img class="w-full mx-h-lg rounded-lg" src="https://picsum.photos/400/300?random={{ event.id }}" alt="Random Event Image">
    
        <div class="p-3">
            <h1 class="text-2xl font-semibold mb-1">{{event.name}}</h1>
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 h-5 w-5 text-gray-500 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                </svg>
                <span class="texm-sm text-gray-600 mr-2">{{event.date}} -</span>
                <span class="texm-sm text-gray-600">{{event.time}}</span>
            </div>
    
            <div class="flex items-center mb-2 mt-5">
                <span class="font-semibold text-gray-800 mr-2">Category:</span>
                <span class="bg-indigo-100 text-indigo-800 py-1 px-2 rounded-full text-xs font-semibold">{{event.category}}</span>
            </div>
    
            <div class="text-lg mt-8">
                {{event.description}}
            </div>
        </div>
    </div>
    
    <div class="">
        <div class="text-sm md:text-2xl sm:text-lg lg:text-4xl font-semibold">| Participants - {{event.participants.count}} |</div>

        {% for participant in event.participants.all %}
        <div class="shadow-md shadow-indigo-500 rounded-lg m-5 p-3 text-center">
            {{participant.name}}
        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}