{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body class="">
    {% comment %} navbar secion {% endcomment %}
    <header class="border-b border-gray-200 p-5 px-20 flex justify-between">
        {% comment %} name / logo {% endcomment %}
        <div class="flex gap-1">
            <div class="mt-1"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
            </svg></div>
            <div class="text-2xl font-bold hover:text-indigo-500 cursor-pointer">EventHub</div>
        </div>

        {% comment %} menu  {% endcomment %}
        <div class="mr-8 p-2">
            <ul class="flex space-x-6 text-xl font-medium">
                <li class="hover:text-indigo-600 cursor-pointer">Home</li>
                <li class="hover:text-indigo-600 cursor-pointer">About Us</li>
                <li class="hover:text-indigo-600 cursor-pointer">Services</li>
                <li class="hover:text-indigo-600 cursor-pointer">Contact</li>
            </ul>
        </div>
    </header>

    <main>
        {% comment %} hero section {% endcomment %}
        <div id="bg-slider" class="flex flex-col justify-center h-[650px] gap-2 w-full bg-cover bg-center transition-all duration-1000 p-2 relative">
            <!-- Dark Overlay on Image -->
            <div class="absolute inset-0 bg-black bg-opacity-70 z-0"></div>
            
            <div class="relative z-10">
                <div class="flex justify-center text-6xl font-bold text-indigo-600">Discover Amazing Events Near</div>
                <div class="flex justify-center text-5xl font-bold text-white">You</div>
                <div class="flex justify-center text-gray-100 font-normal text-xl p-2">Find local events, workshops, meetups, and more. Connect with people who share your interests and make memorable experience</div>

                {% comment %} search section {% endcomment %}
                <div class="flex justify-center items-center p-2 mt-12">
                    <input type="text" placeholder=" Search events..."
                    class="outline-none px-5 rounded-2xl h-16 w-1/2  hover:shadow-indigo-500 hover:shadow-md text-black transition-all duration-300 hover:scale-105 hover:mr-5">
                    <button class="text-white hover:text-gray-400 ml-2 transform hover:scale-105">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="size-10">
                            <path stroke-linecap="round" stroke-linejoin="round"
                            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>


        {% comment %} Events section {% endcomment %}
        <div class="grid grid-cols-3 p-5">
            {% comment %} title section {% endcomment %}
            <div class="text-4xl font-bold col-span-2 flex justify-center">Events</div>
                {% comment %} Box Container {% endcomment %}
            <div class="bg-gray-100 p-2 rounded-lg shadow-lg w-56">
                {% comment %} Buttons {% endcomment %}
                <div class="flex justify-center space-x-4">
                    {% comment %} All Button {% endcomment %}
                    <button class="bg-indigo-600 text-white py-2 px-6 rounded-lg hover:bg-indigo-700 hover:shadow-indigo-500 hover:shadow-lg active:bg-gray-400 active:text-black transition-all duration-300 focus:outline-none">
                    All
                    </button>

                    {% comment %} Upcoming Button  {% endcomment %}
                    <button class="bg-indigo-600 text-white py-2 px-6 rounded-lg hover:bg-indigo-700 hover:shadow-indigo-500 hover:shadow-lg active:bg-gray-400 active:text-black transition-all duration-300 focus:outline-none">
                    Upcoming
                    </button>
                </div>
            </div>
        </div>

        {% comment %} events cards section {% endcomment %}
        <div class="grid items-center grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 p-5 gap-5  mb-12">
            <!-- card-1 -->
            {% for i in "x"|rjust:"6" %}
            <div class="max-w-lg sm:cols-span-1 md:cols-span-1 lg:cols-span-1 rounded-lg overflow-hidden shadow-lg shadow-indigo-400 hover:shadow-indigo-500 hover:shadow-xl transition-all duration-500 transform hover:scale-105 items-center">
                <img class="w-full" src="/static/images/tech.jpg" alt="">
                <div class="p-3">
                    <h1 class="text-2xl font-semibold mb-1">Tech Conference 2025</h1>
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 h-5 w-5 text-gray-500 mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                        </svg>
                        <span class="texm-sm text-gray-600 mr-2">Nov 15 2024 -</span>
                        <span class="texm-sm text-gray-600">09:00 PM</span>
                    </div>

                    <div class="flex items-center mb-2">
                        <span class="font-semibold text-gray-800 mr-2">Category:</span>
                        <span class="bg-indigo-100 text-indigo-800 py-1 px-2 rounded-full text-xs font-semibold">Technology</span>
                    </div>
                    <div class="flex items-center">
                        <span class="font-semibold text-gray-800 mr-2">Participants:</span>
                        <span class="bg-green-100 text-green-800 py-1 px-2 rounded-full text-xs font-semibold">150</span>
                    </div>

                    <div class="text-xs p-2">
                        Join us for the biggest tech conference of the year featuring keynotes from industry leaders and hands-on workshops.
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>


        {% comment %} Service section {% endcomment %}
        <div class="p-5">
            <div class="flex flex-col justify-center items-center">
                <h1 class="text-4xl font-bold">Our Services</h1>
                <h3 class="font-semibold">Crafting Unforgettable Experiences, Seamlessly Managed</h3>
                <h5 class="text-sm text-gray-500">At EventHub, we understand that every event is a unique story waiting to be told. We specialize in transforming your vision into reality, meticulously orchestrating every detail to create truly memorable experiences.</h5>
            </div>

            {% comment %} services showcase {% endcomment %}
            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-16 mt-12">
                <div class="flex flex-col items-center sm:items-center md:items-start lg:items-end col-span-1 sm:col-span-1 md:col-span-1 lg:col-span-2">
                    <div class="max-w-xs mb-16">
                        <img class="rounded-lg" src="/static/images/social-event.jpg" alt="">
                        <h1 class="text-xl font-semibold my-2">Social Events</h1>
                        <div class="text-xs text-gray-500">Creating Joyful Gatherings That Leave Lasting Memories. We orchestrate every detail, from venue selection and thematic décor to entertainment and catering, ensuring a vibrant and personalized celebration.</div>
                    </div>

                    <div class="max-w-xs">
                        <img class="rounded-lg" src="/static/images/corporate-seminar.jpg" alt="">
                        <h1 class="text-xl font-semibold my-2">Corporate Seminars</h1>
                        <div class="text-xs text-gray-500">Elevating Your Brand Through Professional and Impactful Events. We manage all aspects of your corporate events, including venue selection, technical support, speaker coordination, and attendee management, guaranteeing a seamless and productive experience that reinforces your brand's message.</div>
                    </div>
                </div>

                <div class="flex justify-center items-center col-span-1 sm:col-span-1 md:col-span-1 lg:col-span-1">
                    <img class="rounded-lg" src="/static/images/wine.png" alt="">
                </div>

                <div class="flex flex-col items-center sm:items-center md:items-end lg:items-start col-span-1 sm:col-span-1 md:col-span-1 lg:col-span-2">
                    <div class="max-w-xs mb-16">
                        <img class="rounded-lg" src="/static/images/wedding-event.jpg" alt="">
                        <h1 class="text-xl font-semibold my-2">Wedding Events</h1>
                        <div class="text-xs text-gray-500">Turning Your Dream Wedding Into a Reality. We understand the significance of your wedding day, and we're dedicated to crafting a magical and unforgettable experience.</div>
                    </div>
                    <div class="max-w-xs">
                        <img class="rounded-lg" src="/static/images/birthday-party.jpg" alt="">
                        <h1 class="text-xl font-semibold my-2">Birthday Parties</h1>
                        <div class="text-xs text-gray-500">Turning Your Dream Wedding Into a Reality. We understand the significance of your wedding day, and we're dedicated to crafting a magical and unforgettable experience.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col justify-center items-center gap-1 p-16 bg-gray-100">
            <div class="text-black font-bold text-4xl">Ready to explore events ?</div>
            <div class="flex flex-col justify-center items-center p-6">
                <div class="text-gray-500">Join thousands of attendees discovering new experiences every day. Contact us to get personalized</div>
                <div class="text-gray-500 ">event recommendations.</div>
            </div>
            

            <button class="bg-indigo-600 text-white px-6 py-2 rounded-lg hover:bg-indigo-700 transition">
                Contact Us
            </button>
        </div>

        {% comment %} footer section {% endcomment %}
        <footer class="border-t border-gray-200 p-5 px-20 flex justify-between">
            {% comment %} name / logo {% endcomment %}
            <div class="flex gap-1 mt-2">
                <div class="mt-1"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                </svg></div>
                <div class="text-md font-semibold p-1">EventHub</div>
                <div class="text-gray-500 text-sm pt-2">© 2025</div>
            </div>
    
            {% comment %} menu  {% endcomment %}
            <div class="mr-24 sm:mr-5 md:mr-5 lg:mr-24 p-3">
                <ul class="flex space-x-6 text-sm font-semibold">
                    <li class="text-gray-500 hover:text-black cursor-pointer">About Us</li>
                    <li class="text-gray-500 hover:text-black cursor-pointer">Services</li>
                    <li class="text-gray-500 hover:text-black cursor-pointer">Contact</li>
                </ul>
            </div>
        </footer>
    </main>
</body>
</html>